/* title-bg通栏样式 */
.title-bg {
  position: relative;
  width: 100%;
  background-size: cover;
  height: 300px;
}

.title-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: blur(2px); */
  background: url(../img/scenery_bg1.jpg) no-repeat;
  background-size: 120% auto;
  background-position: center 30%;
}

.titlebox {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.titlebox h2 {
  font-size: 45px;
  font-weight: 800;
}

.titlebox h6 {
  font-size: 20px;
  font-weight: normal;
}

.w {
  width: 1246px;
  height: 1340px;
  margin: 30px auto;
}

.content {
  float: left;
  width: 920px;
  height: 600px;
}

.sidebar {
  width: 300px;
  float: right;
  padding-bottom: 10px;
}

.content .scenery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.content h2 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #666;
  padding-bottom: 10px;
  border-bottom: 1px solid #787878;
}

.scenery-item {
  width: 450px;
  height: 380px;
  padding: 5px;
  background-color: var(--col-bg-even-color);
  border: 1px solid #000000;
}

.scenery-item img {
  width: 100%;
  height: 310px;
  border: 1px solid #ccc;
}

.scenery-item-info {
  text-align: center;
  padding: 10px;
}

.scenery-item-info h4 {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #3d0000;
}

/* 侧边栏css样式*/